.search-input {
  background-color: #f5f5f5;
}
.search-input:focus {
  border-color: none;
  box-shadow: none;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  padding-right: 10px;
  right: 5px;
  top: 10px;
  z-index: 2;
  display: block;
  width: 1.575rem;
  height: 1.575rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
