.image-viewer {
  position: absolute;
  z-index: 10000;
  top: 22.5vh;
  left: 32.5vw;
  width: 39vw;
  height: 55vh;
  min-width: 250px;
  min-height: 260px;
  max-width: 471px;
  max-height: 437px;
  background: black;
  opacity: 1;
  border: 2px solid gray;
}
.image-viewer img {
  width: inherit;
  height: inherit;
}
@media only screen and (max-width: 640px) {
  .image-viewer {
    top: 32%;
    left: 14%;
    height: 260px;
  }
}

.image-viewer .close {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 2.1rem;
  cursor: pointer;
}
